<!DOCTYPE html>
<html>
<head>
    <title>Southwest Check-In</title>
</head>
<body>
    <h1>Enter Flight Details</h1>
    <form action="/submit" method="POST">
        Confirmation Number: <input type="text" name="confirmation_number"><br>
        First Name: <input type="text" name="first_name"><br>
        Last Name: <input type="text" name="last_name"><br>
        Flight Time: <input type="datetime-local" name="flight_time"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
